@page
@model CaclApi.Pages.Ingredients.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<div >
    <div class="divHead">
        <h2>Ингредиенты</h2>
        <div class="divSearch">
            <input type="text" id="searchInput" placeholder="Поиск..." />
        </div>
        <a asp-page="create" class="btnCreate">Добавить ингредиент</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Ingredients.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            Продукт
                        </th>
                        <th>
                           Вес продукта
                        </th>
                        <th>
                            Калорийность
                        </th>
                        <th>
                            Описание
                        </th>
                        <th>
                        Действия
                    </th>
                    </tr>
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => ingredient.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => ingredient.ProductQuantity)
                            </td>
                            <td>

                                @Html.DisplayFor(m => ingredient.TotalCalories)
                            </td>
                            <td>
                                @Html.DisplayFor(m => ingredient.Description)
                            </td>
                            <td>
                               <div class="divBtns">
                                <a asp-page="Edit" asp-route-id="@ingredient.Id" class="btn">Редактировать</a>
                                <button asp-page-handler="Delete" asp-route-id="@ingredient.Id" class="btn">Удалить</button>
                            </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="divText">
                    <p>Нет ингредиентов</p>
                </div>
            }
        </form>
    </div>
    <form method="post" asp-page-handler="ExportToExcel">
        <button type="submit" class="btnExport">Экспортировать в Excel</button>
    </form>
</div>
<script>
    // Поиск при вводе текста в поле ввода
    document.getElementById("searchInput").addEventListener("input", function () {
        var searchText = document.getElementById("searchInput").value.toLowerCase();
        filterTable(searchText);
    });

    // Функция фильтрации таблицы
    function filterTable(searchText) {
        var table = document.getElementsByTagName("table")[0];
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var rowData = row.textContent.toLowerCase();

            if (rowData.indexOf(searchText) > -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
</script>