@page
@model CaclApi.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

<div>
<div class="divHead">
    <h2>МОИ ПРИЕМЫ ПИЩИ</h2>
        <div class="divSearch">
            <input type="text" id="searchInput" placeholder="Поиск..." />
           @* <button id="searchButton" class="btnCreate">Найти</button>*@
        </div>
    <a asp-page="create" class="btnCreate">Добавить прием пищи</a>
</div>
<div class="divTable">
    <form method="post">
        @if (Model.FoodIntakes.Count() > 0)
        {
            <table>

                <tr>
                    <th>
                        Тип приема пищи
                    </th>
                    <th>
                        Дата
                    </th>
                    <th>
                        Блюда
                    </th>
                        <th>
                            Калорийность
                        </th>
                    <th>
                        Действия
                    </th>
                </tr>


                @foreach (var foodIntake in Model.FoodIntakes)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => foodIntake.FoodIntakeType.Name)</td>
                        <td>@Html.DisplayFor(m => foodIntake.Date)</td>
                        <td>
                            @foreach (var meal in foodIntake.Meals)
                            {
                                <div>@Html.DisplayFor(m => meal.Name)</div>
                            }
                        </td>
                            <td>
                                @Html.DisplayFor(m => foodIntake.TotalCalories)
                            </td>
                        <td>
                            <div class="divBtns">
                                <a asp-page="Edit" asp-route-id="@foodIntake.Id" class="btn">Редактировать</a>
                                <button asp-page-handler="Delete" asp-route-id="@foodIntake.Id" class="btn">Удалить</button>
                            </div>
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div class="divText">
                <p>Нет приемов пищи</p>
            </div>
        }
    </form>
</div>
</div>
<script>
    // Поиск при вводе текста в поле ввода
    document.getElementById("searchInput").addEventListener("input", function () {
        var searchText = document.getElementById("searchInput").value.toLowerCase();
        filterTable(searchText);
    });

    // Функция фильтрации таблицы
    function filterTable(searchText) {
        var table = document.getElementsByTagName("table")[0];
        var rows = table.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) {
            var row = rows[i];
            var rowData = row.textContent.toLowerCase();

            if (rowData.indexOf(searchText) > -1) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
</script>

