@page
@model CaclApi.Pages.Meals.CreateModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Добавление нового блюда</h2>
<form method="post">
    @*<input asp-for="FoodIntake.Id" type="hidden" />*@
    <p>
        <label asp-for="Meal.Name">Название</label><br />
        <input asp-for="Meal.Name" />
    </p>


    <label asp-for="Meal.MealCategory" class="control-label">Категория блюда</label>

    <select asp-for="Meal.MealCategoryId" class="form-control"
            asp-items="@Model.MealCategorySL">
        <option value="">Выбор категории блюда</option>
    </select>
    <span asp-validation-for="Meal.MealCategoryId" class="text-danger" />

    <label asp-for="@Model.SelectedProducts" class="control-label">Ингредиент</label>
    <select asp-for="@Model.SelectedProducts" class="form-control"
            asp-items="@Model.IngredientSL">
        <option value="">Выбор ингредиента</option>
    </select>
    <span asp-validation-for="@Model.SelectedProducts" class="text-danger" />

   
    <input type="submit" value="Отправить" class="inputSend" />
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
