@page
@model CaclApi.Pages.Meals.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<div >
    <div class="divHead">
        <h2>Блюда</h2>
        <a asp-page="create" class="btnCreate">Добавить блюдо</a>
    </div>

    <div class="divTable">
        <form method="post">
            @if (Model.Meals.Count() > 0)
            {
                <table >
                    <tr >
                        <th>
                            Название
                        </th>
                        <th>
                           Категория блюда
                        </th>
                        
                        <th>
                            Продукты
                        </th>
                        <th>
                            Калорийность
                        </th>
                        <th>
                            Действия
                        </th>
                    </tr>
                    @foreach (var meal in Model.Meals)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => meal.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => meal.MealCategory.Name)
                            </td>
                            <td>
                                @foreach (var product in meal.Ingredients)
                                {
                                    <div>
                                        @Html.DisplayFor(m => product.Product.Name)
                                    </div>
                                }
                            </td>
                             <td>
                                @Html.DisplayFor(m => meal.TotalCalories)
                            </td>

                            <td>
                                <div class="divBtns">
                                    <a asp-page="Edit" asp-route-id="@meal.Id" class="btn">Редактировать</a>
                                    <button asp-page-handler="Delete" asp-route-id="@meal.Id" class="btn">Удалить</button>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="divText">
                    <p>Нет блюд</p>
                </div>
            }
        </form>
    </div>
</div>